//META{"name":"Natsu theme","description":"Natsu theme</br> Bassé sur <a href='https://github.com/jorisvideo/Discordthemes/tree/master/' target='_blank'>Discord Natsu theme</a> by <a href='https://github.com/jorisvideo' target='_blank'>@Silver Crow</a> & by <a href='https://github.com/' target='_blank'>matthews1089</a> <span style='position: absolute; bottom: 0; left: 0;'>Links: <b><a href='https://github.com/jorisvideo/Discordthemes/' target='_blank'>Github</a></b> | <b><a href='https://discord.gg/E8tXHqC' target='_blank'>Discord</a></b> | <b><a href='https://github.com/Jorisvideo/Discordthemes/wiki/Accueil' target='_blank'>Wiki</a></b></span> <span style='position: absolute; bottom: 0; right: 14px;'>By <b><a href='https://github.com/jorisvideo' target='_blank'>@Silver Crow</a></b></span>","author":"<a href='https://github.com/jorisvideo' target='_blank'>@Silver Crow</a>","version":"0.1"}*//{}

@import url(https://gitcdn.xyz/repo/Jorisvideo/Discordthemes/master/css/darkombres.css);

@import url(//db.onlinewebfonts.com/c/49cfbe70d641c78e06a5515311d0e397?family=Dark+Garden);
@font-face {font-family: "Dark Garden";
    src: url("//db.onlinewebfonts.com/t/49cfbe70d641c78e06a5515311d0e397.eot");
    src: url("//db.onlinewebfonts.com/t/49cfbe70d641c78e06a5515311d0e397.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/49cfbe70d641c78e06a5515311d0e397.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/49cfbe70d641c78e06a5515311d0e397.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/49cfbe70d641c78e06a5515311d0e397.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/49cfbe70d641c78e06a5515311d0e397.svg#Dark Garden") format("svg");
}
:root {
	--main-color: #f39c12;
	--hover-color: ##e67e22;
    --background-blur: 0px;
    --background-brightness: 100%;
}
body::after,
.callout-backdrop,
.user-popout::before,
#user-profile-modal .header::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label{
    background-image: url(https://github.com/Jorisvideo/Discordthemes/raw/master/images/natsutheme.jpg) !important;
}
* {
    font-family: Dark Garden !important;
}
/*https://gitcdn.xyz/repo/Jorisvideo/Discordthemes/master/font/DarkGardenMK.ttf */
