//META{"name":"Miku theme","description":"Theme made by Silver Crow","author":"Silver Crow","version":"0.1"}*//{}

@import url(https://gitcdn.xyz/repo/Jorisvideo/Discordthemes/master/css/miku.css);

:root {
	--main-color: #1abc9c;
	--hover-color: #27ae60;
    --background-blur: 0px;
    --background-brightness: 100%;
}
body::after,
.callout-backdrop,
.user-popout::before,
#user-profile-modal .header::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label, .headerNormal-1cioxU::before,
.theme-dark::before,
.inner-1_1f7b::before{
    background-image: url(https://raw.githubusercontent.com/Jorisvideo/Discordthemes/master/images/miku.jpg) !important;
}
.layers {background: transparent! Important; }